header{
  /* display: flex;
  justify-content: space-between;
  /* background-color: black; */
  /* height: 100px; */ */
}
/*
div{
  display: flex;
  align-items: center;
}
a{
  margin-left: 50px;
}

.d1{
  width: 100px;
  height: 100px;
}

.d2{
  width: 600px;
  height: 100px;

  padding-left: 400px;
}

.d3{
  width: 200px;
  height: 100px;
  color: white;
} */
